<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<!-- css start -->
<th:block layout:fragment="css">
    <link th:href="@{/css/account.css}" rel="stylesheet" />
</th:block>
<!-- css end -->

<!-- js start -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</th:block>
<!-- js end -->

<!-- content start -->
<div layout:fragment="content" class="container-xxl d-flex justify-content-center">
    <div class="account-box text-center">
        <div class="title">아이디 찾기</div>
        <input type="email" id="email" class="form-control" placeholder="이메일" required>
        <input type="tel" id="phone" class="form-control" placeholder="연락처" required>
        <button type="button" onclick="findUsername()">아이디 찾기</button>
        <script th:inline="javascript">
            function findUsername() {
                //이메일이 입력되지 않은 경우
                var email = document.getElementById('email').value;
                if (email.trim() === '') {
                    alert('이메일을 입력하세요.');
                    return;
                }

                //연락처가 입력되지 않은 경우
                var phone = document.getElementById('phone').value;
                if (phone.trim() === '') {
                    alert('연락처를 입력하세요.');
                    return;
                }

                //연락처에서 "-"를 모두 제거
                phone = phone.replace(/-/g, '');

                var data = {
                    email: $('#email').val(),
                    phone: phone
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/v1/member/find-username',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        alert('아이디 : ' + response.username);
                        window.location.href = '/member/login';
                    },
                    error: function (error) {
                        alert(error.responseJSON.msg);
                    }
                });
            }
        </script>
    </div>
</div>
<!-- content end -->

</html>