<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<!-- css start -->
<th:block layout:fragment="css">
    <link th:href="@{/css/account.css}" rel="stylesheet" />
</th:block>
<!-- css end -->

<!-- js start -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</th:block>
<!-- js end -->

<!-- content start -->
<div layout:fragment="content" class="container-xxl">
    <div class="row mypage-container">
        <!-- 좌측 메뉴 -->
        <div class="col-3">
            <div class="card">
                <div class="card-header mypage-menu-title">
                    <i class="bi bi-person-circle"></i> 마이페이지
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="active-menu">비밀번호 변경</span>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/member/mypage/withdraw}" class="inactive-menu"><i class="bi bi-chevron-right"></i> 회원 탈퇴</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 메인 콘텐츠    -->
        <div class="col-9">
            <div class="card mypage-main">
                <div class="card-header title">
                    비밀번호 변경
                </div>
                <div class="card-body">
                    <input type="password" id="currentPassword" class="form-control" placeholder="현재 비밀번호" required>
                    <input type="password" id="newPassword" class="form-control new-password" placeholder="새 비밀번호" required>
                    <div class="password-hint">영문 대·소문자/숫자/특수문자 중 2가지 이상 조합, 8자~32자</div>
                    <input type="password" id="newPassword2" class="form-control" placeholder="새 비밀번호 확인" required>
                    <button type="button" class="btn btn-primary" onclick="changePasswordButton()">비밀번호 변경</button>
                    <script th:inline="javascript">
                        function changePasswordButton() {
                            var currentPassword = document.getElementById('currentPassword').value;
                            var newPassword = document.getElementById('newPassword').value;
                            var newPassword2 = document.getElementById('newPassword2').value;

                            //현재 비밀번호가 입력되지 않은 경우
                            if (currentPassword.trim() === '') {
                                alert('현재 비밀번호를 입력하세요.');
                                return;
                            }

                            //새 비밀번호가 입력되지 않은 경우
                            if (newPassword.trim() === '') {
                                alert('새 비밀번호를 입력하세요.');
                                return;
                            }

                            //비밀번호 검증
                            var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d|.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,32}$/;
                            if (!passwordPattern.test(newPassword)) {
                                alert('비밀번호가 유효하지 않습니다.');
                                return;
                            }
                            if (newPassword !== newPassword2) {
                                alert('비밀번호가 일치하지 않습니다.');
                                return;
                            }

                            var data = {
                                currentPassword: $('#currentPassword').val(),
                                newPassword: $('#newPassword').val()
                            };

                            $.ajax({
                                type: 'PUT',
                                url: '/api/v1/member/password',
                                contentType: 'application/json',
                                data: JSON.stringify(data),
                                success: function (response) {
                                    if (response.isSuccess) {
                                        alert('비밀번호 변경에 성공하였습니다.');
                                        window.location.href = '/';
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                    alert(error.responseJSON.msg);
                                }
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->

</html>