<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
    <div class="container-xxl">
        <div class="row align-items-center" style="height: 80px;">
            <div class="col text-start">
                <a th:href="@{/plans}">마이 플랜</a>
            </div>
            <div class="col text-center">
                <a th:href="@{/}">
                    <img th:src="@{/img/traeblue.png}" width="138px" height="44px"/>
                </a>
            </div>
            <div class="col text-end">
                <div class="row">
                    <div class="col" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/members/login}">로그인</a>
                    </div>
                    <div class="col-auto" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/members/signup}">회원가입</a>
                    </div>
                    <div class="col" sec:authorize="isAuthenticated()">
                        <a th:href="@{/members/mypage/password}">마이페이지 <i class="bi bi-person-circle"></i></a>
                    </div>
                    <div class="col-auto" sec:authorize="isAuthenticated()">
                        <a th:href="@{/api/v1/members/logout}">로그아웃 <i class="bi bi-box-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>