/* =================== plan list =================== */
.plan-list-title {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.88px;
}

.plan-list-title span {
    color: #3549FF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.88px;
}

.myplan-list-card {
    width: 302px;
    height: 138px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor : pointer;
}

.plan-list-content .col:nth-child(6n+1) .myplan-list-card {
    background: #3549ff; /* 파랑 */
}

.plan-list-content .col:nth-child(6n+2) .myplan-list-card {
    background: #ff6f82; /* 분홍 */
}

.plan-list-content .col:nth-child(6n+3) .myplan-list-card {
    background: #64bb81; /* 연두 */
}

.plan-list-content .col:nth-child(6n+4) .myplan-list-card {
    background: #ffbc00; /* 노랑 */
}

.plan-list-content .col:nth-child(6n+5) .myplan-list-card {
    background: #a86fff; /* 보라 */
}

.plan-list-content .col:nth-child(6n+6) .myplan-list-card {
    background: #36abff; /* 하늘 */
}

.myplan-list-card .travel-title {
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.myplan-list-card .travel-date {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.myplan-add-card {
    width: 302px;
    height: 138px;
    border-radius: 30px;
    background: #CDCDCD;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor : pointer;
}

.myplan-add-card .travel-title {
    color: #565656;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.myplan-add-card .travel-plus {
    text-align: center;
    color: #FFF;
    font-size: 30px;
}

#createPlanModal label {
    margin-bottom: 5px;
}

#createPlanModal input {
    margin-bottom: 20px;
}

/* =================== plan detail =================== */
.plan-detail-top-menu {
    margin-top: 40px;
    margin-bottom: 20px;
}

.plan-detail-top-menu .back-href {
    text-decoration-line: none;
    color: #000;
    font-size: 16px;
}

.plan-detail-header {
    margin-bottom: 30px;
}

.plan-detail-header .title {
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.88px;
}

.plan-detail-header .date {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.destination-accordion {
    margin-bottom: 30px;
    min-width: 248px;
    --bs-accordion-border-color: #C8C8C8;
    --bs-accordion-border-width: 2px;
    --bs-accordion-active-bg: #f3f3f3;
    --bs-accordion-btn-focus-box-shadow: null;
}

.destination-card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid #C8C8C8;
    background: #f3f3f3;
}

.destination-card .orderNum {
    margin-bottom: 5px;
    padding: 0;
    color: #777777;
    font-size: 24px;
    font-weight: 800;
}

.destination-card .title {
    margin-bottom: 4px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.destination-card .addr {
    color: #404040;
    font-size: 16px;
    font-weight: 400;
}

.map-container {
    margin-bottom: 30px;
    border-radius: 6px;
    border: 2px solid #C8C8C8;
    min-width: 248px;
}

.place-list {
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #C8C8C8;
    min-width: 248px;
}

.search-container {
    margin-bottom: 20px;
}

.place-card {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #C8C8C8;
    background: #f3f3f3;
    min-width: 224px;
}

.place-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-card .title {
    margin-bottom: 4px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.place-card .addr {
    color: #404040;
    font-size: 16px;
    font-weight: 400;
}

#detailsPlaceModal #detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#detailsPlaceModal table .th {
    width: 87px;
    min-width: 87px;
    max-width: 87px;
}