<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<!-- css start -->
<th:block layout:fragment="css">
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</th:block>
<!-- css end -->

<!--
js start
<th:block layout:fragment="script">
    <script th:src="@{/js/page/home.js}"></script>
</th:block>
js end
-->

<!-- content start -->
<div layout:fragment="content">
    <div class="container-fluid home-title-container">
        <div style="width: 100%; height: 100%; backdrop-filter: blur(3px);">
            <div class="container-xxl" style="height: 100%;">
                <div class="d-flex align-items-center" style="height: 100%;">
                    <div>
                        <div class="home-title-text">
                            시원한 여행 계획<br>트래<span style="color: #3549FF;">블루</span>와 함께
                        </div>
                        <div class="home-title-start-btn"><a th:href="@{/plans}">여행 떠나기 →</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl home-myplan-container">
        <div class="title"><hr /><span>마이플랜</span></div>
        <div class="description">한국 관광공사가 제공한<br>12,836개의 관광지를 통해 다양한 계획을 세워보세요!</div>
        <div class="place-lsit"><img src="/img/place list.png" style="width: 100%"/></div>
    </div>
</div>
<!-- content end -->

</html>