<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<!-- css start -->
<th:block layout:fragment="css">
    <link th:href="@{/css/plan.css}" rel="stylesheet" />
</th:block>
<!-- css end -->

<!-- js start -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
</th:block>
<!-- js end -->

<!-- content start -->
<div layout:fragment="content" class="container-xxl" style="padding-top: 40px; padding-bottom: 40px;">
    <div class="plan-detail-top-menu row">
        <div class="col-6 text-start"><a th:href="@{/plans}" class="back-href"><i class="bi bi-arrow-left"></i> 목록으로</a></div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-danger" onclick="deletePlan()">삭제</button>
        </div>
    </div>
    <div class="plan-detail-header text-center">
        <div class="title"><span th:text="${planDetail.title}"></span> <a href="#" data-bs-toggle="modal" data-bs-target="#changeTitleModal"><i class="bi bi-pencil-square"></i></a></div>
        <div class="date"><span th:text="${planDetail.startDate}"></span> ~ <span th:text="${planDetail.endDate}"></span></div>
    </div>
    <div class="plan-detail-content row row-cols-1 row-cols-md-2">
        <!-- 목적지 목록 -->
        <div class="col col-md-4">
            <div class="accordion destination-accordion" id="destinationAccordion">
                <!-- travelDuration만큼 반복할 아이템 -->
                <div th:each="day, dayIdx : ${#numbers.sequence(1, planDetail.travelDuration)}" class="accordion-item">
                    <h2 class="accordion-header">
                        <button th:id="'accordion-button-' + ${dayIdx.index}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                th:data-bs-target="'#collapse' + ${dayIdx.index}">
                            Day [[${day}]]
                        </button>
                    </h2>
                    <div th:id="'collapse' + ${dayIdx.index}" class="accordion-collapse collapse"
                         data-bs-parent="#destinationAccordion">
                        <div class="accordion-body destination-accordion-body">
                            <!-- n 일차 동안(같은 visitDate 동안) 방문할 관광지 목록 -->
                            <th:block th:each="destination : ${planDetail.destinations}"
                                 th:if="${destination.visitDate == day}">
                                <div class="destination-card">
                                    <div class="visually-hidden visitDate" th:text="${destination.visitDate}"></div>
                                    <div class="row">
                                        <div class="col text-start">
                                            <div class="orderNum"><i class="bi bi-list"></i> <span th:text="${destination.orderNum}"></span></div>
                                        </div>
                                        <div class="col text-end">
                                            <button type="button" class="btn btn-outline-secondary deleteDestinationBtn" th:onclick="deleteDestination([[${destination.visitDate}]], [[${destination.orderNum}]])"><i class="bi bi-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="title" th:text="${destination.title}"></div>
                                    <div class="addr">
                                        <span class="addr1" th:text="${destination.addr1}"></span>
                                        <span class="addr2" th:text="${destination.addr2}"></span>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 우측 지도 및 관광지 목록 -->
        <div class="col col-md-8">
            <div class="ratio ratio-1x1 map-container">
                <div id="map"></div>
            </div>
            <div class="place-list">
                <div class="search-container">
                    <div class="select-area" style="margin-bottom: 10px; text-align-last: center; text-align: center;">
                        <div class="row">
                            <div class="col-auto" style="width: 250px;">
                                <select class="form-select" id="areaSelect" onchange="updateSigunguCode()"></select>
                            </div>
                            <div class="col-auto" style="width: 250px;">
                                <select class="form-select" id="sigunguSelect">
                                    <option value="0"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col">
                            <input type="text" class="form-control" id="search-input" onkeydown="searchEnterKey(event)">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" onclick="searchPlace()">검색</button>
                        </div>
                    </div>
                </div>
                <div id="place-card-container"></div>
                <nav><ul class="pagination justify-content-center" id="place-pagination"></ul></nav>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="detailsPlaceModal" tabindex="-1" aria-labelledby="detailsPlaceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"><span id="detail-title"></span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-4">
                            <div class="col-auto">
                                <div style="width:180px;"><img id="detail-img" onerror="this.src='/img/no image.png'"></div>
                            </div>
                            <div class="col">
                                <table class="table table-light table-striped-columns">
                                    <tbody>
                                        <tr>
                                            <td class="th">주소</td>
                                            <td><span id="detail-addr1"></span> <span id="detail-addr2"></span></td>
                                        </tr>
                                        <tr>
                                            <td class="th">전화번호</td>
                                            <td><span id="detail-tel"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <strong style="margin-bottom: 10px; font-weight: 600; font-size: 18px;">개요</strong>
                            <div class="col"><span id="detail-overview"></span></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeTitleModal" tabindex="-1" aria-labelledby="changeTitleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="changeTitleModalLabel">플랜명 변경</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="changeTitleInput" class="form-control" th:placeholder="${planDetail.title}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="changeTitle()">변경하기</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=} + ${apiKey}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var destinations =[[${planDetail.destinations}]];
        /*]]>*/
        var currentAccordionId = 1;
        var markers = [];
        var polylines = [];
        var pageNo = 1;
        var totalCount = 0;

        // visitDate를 기준으로 그룹화한 결과를 저장할 객체 ex) groupedDestinations[1] => 1일날 방문할 관광지 목록
        var groupedDestinations = {};
        destinations.forEach(function(destination) {
            if (!groupedDestinations[destination.visitDate]) {
                groupedDestinations[destination.visitDate] = [];
            }
            groupedDestinations[destination.visitDate].push(destination);
        });

        var map_container = document.getElementById('map'),
            options = {
                 center: new kakao.maps.LatLng(33.450701, 126.570667),
                 level: 7
            };
        var map = new kakao.maps.Map(map_container, options);

        $(function(){
            $("#collapse0").addClass("show");
            $("#accordion-button-0").removeClass("collapsed");

            $('.accordion-button').click(function(){

                // 현재 아코디언의 ID에서 "accordion-button-"를 제거하고 정수로 변환하여 변수에 저장
                currentAccordionId = parseInt($(this).attr('id').replace('accordion-button-', '')) + 1;
                openMap();
            });

            openMap();
            searchPlace();
        });

        $(".accordion-body").each(function() {
            $(this).sortable({
                axis: "y",
                containment: "parent",
                start: function(event, ui) {
                    // 드래그 시작 시 호출
                },
                stop: function(event, ui) {
                    // 드래그 종료 시 호출
                    reorder($(this));
                    saveDestinations();
                    openMap();
                }
            });
        });

        function reorder(accordionBody) {
            accordionBody.find('.destination-card').each(function(i, box) {
                // orderNum 텍스트 변경
                var orderNumElement = $(box).find('.orderNum').find('span');
                var prevNum = parseInt(orderNumElement.text(), 10);
                orderNumElement.text(i + 1);

                // 리스트 변수 값 변경
                groupedDestinations[currentAccordionId][prevNum - 1].orderNum = i + 1;

                // 삭제 버튼 onclick 파라미터 변경
                var visitDateText = $(box).find('.visitDate').text();
                var deleteDestinationBtnElement = $(box).find('.deleteDestinationBtn');

                deleteDestinationBtnElement.attr('onclick', 'deleteDestination(' + visitDateText + ', ' + (i + 1) + ')');
            });
            groupedDestinations[currentAccordionId] = groupedDestinations[currentAccordionId].sort(function (a, b) {
                return a.orderNum - b.orderNum;
            });
        }

        function openMap() {
            // 지도 중심 좌표 설정
            map.setCenter(new kakao.maps.LatLng(groupedDestinations[currentAccordionId][0].mapY, groupedDestinations[currentAccordionId][0].mapX));

            // 마커 생성
            markerInit();
            for (var i = 0; i < groupedDestinations[currentAccordionId].length; i ++) {
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(groupedDestinations[currentAccordionId][i].mapY, groupedDestinations[currentAccordionId][i].mapX)
                });
                markers.push(marker);
            }

            // 선 생성
            var linePath = [];
            for (var i = 0; i < groupedDestinations[currentAccordionId].length; i ++) {
                linePath.push(new kakao.maps.LatLng(groupedDestinations[currentAccordionId][i].mapY, groupedDestinations[currentAccordionId][i].mapX));
            }
            lineInit();
            var polyline = new kakao.maps.Polyline({
                map: map,
                path: linePath,
                strokeWeight: 5,
                strokeColor: '#3549ff',
                strokeOpacity: 0.7,
                strokeStyle: 'solid'
            });
            polylines.push(polyline);
        }

        function markerInit() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        function lineInit() {
            for (var i = 0; i < polylines.length; i++) {
                polylines[i].setMap(null);
            }
            polylines = [];
        }

        function changeTitle() {
            var title = $('#changeTitleInput').val();

            if (title.trim() === "") {
                alert("바꿀 플랜명을 입력해주세요.");
                $('#changeTitleInput').val("");
                return;
            }

            var data = {
                title: title
            };

            /*<![CDATA[*/
            var planIdx = [[${planIdx}]];
            /*]]>*/
            $.ajax({
                type: "PATCH",
                contentType: "application/json",
                url: "/api/v1/plans/" + planIdx + "/title",
                data: JSON.stringify(data),
                success: function(response) {
                    if (response.isSuccess) {
                        alert("성공적으로 변경 하였습니다.");
                        location.reload(true);
                    }
                    else {
                        alert("변경에 실패하였습니다.");
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }

        function deletePlan() {
            var isConfirmed = confirm('정말로 삭제하시겠습니까?');
            if (isConfirmed) {
                /*<![CDATA[*/
                var planIdx = [[${planIdx}]];
                /*]]>*/
                $.ajax({
                    type: 'DELETE',
                    url: '/api/v1/plans/' + planIdx,
                    success: function (response) {
                        if (response.isSuccess) {
                            alert('계획을 삭제하였습니다.');
                            window.location.href = '/plans';
                        }
                        else {
                            alert('삭제에 실패하였습니다.');
                            window.location.href = '/plans';
                        }
                    },
                    error: function (error) {
                        alert(error.responseJSON.msg);
                    }
                });
            }
        }

        function addDestination(placeString) {
            var place = JSON.parse(placeString);

            var data = {
                contentIdx: place.contentid,
                title: place.title,
                addr1: place.addr1,
                addr2: place.addr2,
                mapX: place.mapx,
                mapY: place.mapy,
                visitDate: currentAccordionId
            };

            /*<![CDATA[*/
            var planIdx = [[${planIdx}]];
            /*]]>*/
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/v1/destinations/" + planIdx,
                data: JSON.stringify(data),
                success: function(response) {
                    if (response.isSuccess) {
                        alert("추가하였습니다..");
                        location.reload(true);
                    }
                    else {
                        alert("저장에 실패하였습니다.");
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });

        }

        function saveDestinations() {
            var mergedDestinations = [];

            // visitDate로 나눠져 있는 목적지를 합치기
            Object.values(groupedDestinations).forEach(function(destinations) {
                mergedDestinations = mergedDestinations.concat(destinations);
            });

            /*<![CDATA[*/
            var planIdx = [[${planIdx}]];
            /*]]>*/
            $.ajax({
                type: "PUT",
                contentType: "application/json",
                url: "/api/v1/destinations/" + planIdx,
                data: JSON.stringify(mergedDestinations),
                success: function(response) {
                    if (!response.isSuccess) {
                        alert("저장에 실패하였습니다.");
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }

        function searchEnterKey(event) {
            const code = event.code;

            if(code == 'Enter'){
               searchPlace();
           }
        }

        function searchPlace() {
            pageNo = 1;
            searchPlaceProcess();
        }

        function searchPlaceProcess() {
            var areaCode = ($('#areaSelect').val() === "0") ? "" : $('#areaSelect').val();
            var sigunguCode = ($('#sigunguSelect').val() === "0") ? "" : $('#sigunguSelect').val();

            var data = {
                pageNo: pageNo,
                keyword: $('#search-input').val(),
                areaCode: areaCode,
                sigunguCode: sigunguCode
            };

            $.ajax({
                type: 'GET',
                url: '/api/v1/places',
                contentType: 'application/json',
                data: data,
                success: function (response) {
                    totalCount = response.totalCount;

                    var container = $('#place-card-container');
                    container.empty();

                    response.responseDtoList.forEach(function (place) {
                        var placeCard = $('<div class="place-card"></div>');
                        placeCard.append(`
                            <div class="row row-cols-1">
                                <div class="col-auto col-sm-auto">
                                    <div style="width: 200px; height:136px; overflow: hidden;">
                                        <img src="${place.firstimage}" alt="no image" onerror="this.onerror=null; this.src='/img/no image.png'">
                                    </div>
                                </div>
                                <div class="col col-sm">
                                    <div class="d-flex align-items-start flex-column mb-3" style="height: 100%;">
                                        <div class="title">${place.title}</div>
                                        <div class="addr mb-auto">
                                            <span class="addr1">${place.addr1}</span>
                                            <span class="addr2">${place.addr2}</span>
                                        </div>
                                        <div class="btn-container align-self-end">
                                            <button type="button" class="btn btn-secondary" onclick="detailPlace(${place.contentid})">자세히 보기</button>
                                            <button type="button" class="btn btn-primary" onclick="addDestination('${JSON.stringify(place).replace(/"/g, '&quot;')}')">추가하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `);
                        container.append(placeCard);
                    });
                    generatePagination(totalCount, pageNo);
                }
            });
        }

        function generatePagination(totalCount, pageNo) {
            var paginationContainer = $('#place-pagination');
            paginationContainer.empty();

            // 이전 버튼
            paginationContainer.append('<li class="page-item" id="prevPage"><a class="page-link" href="#place-card-container" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>');

            var startPage = Math.max(1, Math.floor((pageNo - 1) / 10) * 10 + 1);
            var endPage = Math.min(startPage + 9, Math.ceil(totalCount / 10));

            for (var i = startPage; i <= endPage; i++) {
                var activeClass = (i === pageNo) ? 'active' : '';
                paginationContainer.append('<li class="page-item ' + activeClass + '"><a class="page-link" href="#place-card-container">' + i + '</a></li>');
            }

            // 다음 버튼
            paginationContainer.append('<li class="page-item" id="nextPage"><a class="page-link" href="#place-card-container" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
        }

        $('#place-pagination').on('click', 'li.page-item', function() {
            var clickedPage = $(this).text();

            if (clickedPage === '«') {
                pageNo = Math.max(pageNo - 1, 1);
            } else if (clickedPage === '»') {
                pageNo = Math.min(pageNo + 1, Math.ceil(totalCount/10));
            } else {
                pageNo = parseInt(clickedPage);
            }

            searchPlaceProcess();
        });

        function detailPlace(contentId) {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/api/v1/places/" + contentId,
                success: function(response) {
                    $('#detail-title').text(response.title);
                    $('#detail-img').attr('src', response.firstimage);
                    $('#detail-addr1').text(response.addr1);
                    $('#detail-addr2').text(response.addr2);
                    $('#detail-tel').text(response.tel);
                    $('#detail-homepage').text(response.homepage);
                    $('#detail-overview').text(response.overview);

                    $('#detailsPlaceModal').modal('show');
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }

        function deleteDestination(visitDate, orderNum) {
            var data = {
                visitDate: visitDate,
                orderNum: orderNum
            };

            /*<![CDATA[*/
            var planIdx = [[${planIdx}]];
            /*]]>*/
            $.ajax({
                type: "DELETE",
                contentType: "application/json",
                url: "/api/v1/destinations/" + planIdx,
                data: JSON.stringify(data),
                success: function(response) {
                    if (response.isSuccess) {
                        location.reload(true);
                    }
                    else {
                        alert("목적지 삭제에 실패하였습니다.");
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
    </script>
    <script th:inline="javascript">
        var areaCode = {
            0: "전국",
            1: "서울",
            2: "인천",
            3: "대전",
            4: "대구",
            5: "광주",
            6: "부산",
            7: "울산",
            8: "세종특별자치시",
            31: "경기도",
            32: "강원특별자치도",
            33: "충청북도",
            34: "충청남도",
            35: "경상북도",
            36: "경상남도",
            37: "전북특별자치도",
            38: "전라남도",
            39: "제주도"
        };

        var sigunguCodes = {
            0: [""],
            1: ["전체", "강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구"],
            2: ["전체", "강화군", "계양구", "미추홀구", "남동구", "동구", "부평구", "서구", "연수구", "옹진군", "중구"],
            3: ["전체", "대덕구", "동구", "서구", "유성구", "중구"],
            4: ["전체", "남구", "달서구", "달성군", "동구", "북구", "서구", "수성구", "중구", "군위군"],
            5: ["전체", "광산구", "남구", "동구", "북구", "서구"],
            6: ["전체", "강서구", "금정구", "기장군", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구"],
            7: ["전체", "중구", "남구", "동구", "북구", "울주군"],
            8: ["전체", "세종특별자치시"],
            31: ["전체", "가평군", "고양시", "과천시", "광명시", "광주시", "구리시", "군포시", "김포시", "남양주시", "동두천시", "부천시", "성남시", "수원시", "시흥시", "안산시", "안성시", "안양시", "양주시", "양평군", "여주시"]
        };

        var areaSelect = document.getElementById("areaSelect");
        var sigunguSelect = document.getElementById("sigunguSelect");

        for (var code in areaCode) {
            var option = document.createElement("option");
            option.value = code;
            option.text = areaCode[code];
            areaSelect.appendChild(option);
        }

        function updateSigunguCode() {
            var selectedAreaCode = areaSelect.value;
            sigunguSelect.innerHTML = "";

            if (selectedAreaCode in sigunguCodes) {
                sigunguCodes[selectedAreaCode].forEach(function(sigungu, index) {
                    var option = document.createElement("option");
                    option.value = index.toString();
                    option.text = sigungu;
                    sigunguSelect.appendChild(option);
                });
            }
        }
    </script>
</div>
<!-- content end -->

</html>